/* global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(243, 230, 220);
}

li{
    list-style: none;
}

/* utilities class */

.item-title{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 4px;
}

.price{
    font-weight: 500;
    color: chocolate;
}


/* list */

.container{
    width: 900px;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.list-container h1{
    text-transform: capitalize;
    margin-bottom: 50px;
}

.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 600px;
    overflow-y: scroll;
}

.item-list::-webkit-scrollbar {
  display: none;
  width: 0px; /* remove scrollbar space */
}

.item-list .item{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .item-img{
    width: 100%;
    height: 160px;
    position: relative;
}

.item-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.item .add{
    width: 120px;
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -100%);
    padding: 8px;
    border: 1px solid chocolate;
    outline: 0;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
}

.item .add i{
    color: chocolate;
    font-size: 1.4rem;
}


/* cart */
.cart-container{
    background-color: green;
    
}

.cart-container .cart{
    background-color: white;
    width: 100%;
    height: 400px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart h2{
    color: chocolate;
}



.cart ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-detail .title{
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.cart ul li .item-cancel{
    border: 1px solid grey;
    outline: 0;
    border-radius: 20px;
    cursor: pointer;
}

.item-cancel i{
    font-size: 1.3rem;
}

.item-detail > div .quantity{
    color: chocolate;
    margin-right: 10px;
}

.item-detail > div .price{
    color: grey;
    font-weight: 400;
    margin-right: 10px;
}