/* global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 230, 220);
}


li{
    list-style: none;
}

i{
    margin: 0;
    padding: 0;
}
/* utilities class */

.item-title{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 4px;
}

.price{
    font-weight: 500;
    color: chocolate;
}


/* list */

.container{
    width: 1024px;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 300px;
    gap: 50px;
}

.list-container h1{
    text-transform: capitalize;
    margin-bottom: 50px;
}

.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 600px;
    overflow-y: scroll;
    padding-right: 10px;
}


.item-list::-webkit-scrollbar{
    width: 5px;
}

.item-list::-webkit-scrollbar-track{
    background: lightgray;
}
.item-list::-webkit-scrollbar-thumb{
    background-color: chocolate;
    border-radius: 2px;
}



.item-list .item{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .item-img{
    width: 100%;
    height: 160px;
    position: relative;
}

.item-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.item-img .btn-container{
    /* background-color: red; */
    width: 120px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.btn-container .hidden{
    display: none;
}

.btn-container button{
    width: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid chocolate;
    cursor: pointer;
}

.btn-container button i{
    font-size: 1.2rem;
    color: chocolate;
}

.btn-container div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid chocolate;
    cursor: pointer;
    background-color: chocolate;
}



.btn-container div span{
    color: white;
}

.btn-container div i{
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
}


/* cart */

.cart-container{
    padding: 20px 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    max-height: 400px;
    height: fit-content;
}

.cart-container .hidden{
    display: none;
}

.cart-container .empty-cart{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.empty-cart img{
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
    opacity: 0.8;
}

.empty-cart p{
    color: #654321;
    font-weight: 500;
    font-size: 0.8rem;
}


.cart-container .cart{
    width: 100%;
    padding: 20px 0px;
    padding-bottom: 20px;
    display: hidden;
    flex-direction: column;
    gap: 20px;
   
}

.cart h2{
    color: chocolate;
}

.cart .cart-list{
    max-height: 260px;
    overflow-y: scroll;
    padding-right: 10px;
}

.cart-list::-webkit-scrollbar{
    width: 5px;
}

.cart-list::-webkit-scrollbar-track{
    background: lightgray;
}
.cart-list::-webkit-scrollbar-thumb{
    background-color: chocolate;
    border-radius: 2px;
}


.cart ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}

.item-detail .title{
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 4px;
    font-size: 0.8rem;
}

.cart ul li .item-cancel{
    cursor: pointer;
    outline: 0;
    border: 0;
    background: transparent;
}

.item-cancel i{
    font-size: 1.5rem;
}

.item-detail > div .quantity{
    color: chocolate;
    margin-right: 10px;
}

.item-detail > div .price{
    color: grey;
    font-weight: 400;
    margin-right: 8px;
}

.total-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-price p{
    text-transform: capitalize;
}
.total-price span{
    font-size: 1.2rem;
    font-weight: bold;
}

.confirm-order-btn{
    padding: 10px 0px;
    color: white;
    background-color: chocolate;
    text-transform: capitalize;
    outline: 0;
    border: 1px solid chocolate;
    border-radius: 20px;
    cursor: pointer;
}




/* confirm order modal */
/* .modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}; */


.confirm-order-modal[open]{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    outline: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-order-modal::backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.confirm-order-modal > span i{
    font-size: 2rem;
    color: green;
}

.confirm-order-modal h2{
    text-transform: capitalize;
    font-size: 1.6rem;
}

.confirm-order-modal > p{
    font-size: 0.8rem;
}

.confirm-order-modal > div{
    background-color: rgb(243, 230, 220);
    padding: 10px;
    padding-bottom: 20px;
}


.confirm-order-modal ul{
    width: 100%;
    height: 220px;
    overflow-y: scroll;
}

.confirm-order-modal ul::-webkit-scrollbar{
    width: 5px;
}
.confirm-order-modal ul::-webkit-scrollbar-track{
    background: lightgray;
}
.confirm-order-modal ul::-webkit-scrollbar-thumb{
    background-color: chocolate;
    border-radius: 2px;
}

.confirm-order-modal ul li{
    display: grid;
    grid-template-columns: 50px 1fr 40px;
    gap: 10px;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid lightgrey;
}

.confirm-order-modal ul li img{
    height: 50px;
    width: 50px;
}


.confirm-order-modal ul li div .title{
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.confirm-order-modal ul li div span{
    margin-left: 15px;
    color: grey;
}

.confirm-order-modal ul li .price{
    font-weight: 700;
    color: black;
}
.confirm-order-modal div .order-total-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.order-total-price > p{
    text-transform: capitalize;
}

.order-total-price > span{
    font-weight: 600;
}

.confirm-order-modal button{
    margin-top: 10px;
    outline: 0;
    border: 1px solid chocolate;
    background-color: chocolate;
    color: white;
    padding: 6px 0px;
    border-radius: 20px;
    cursor: pointer;
}











